%body
  #home.big-bg
    %header.page-header.wrapper
      %h1
        %a{:href => "index.html"}
          %img.logo{:alt => "WCBカフェホーム", :src => "/assets/icon1.png"}/
      %nav
        %ul.main-nav
          %li
            %a{:href => "news.html"} News
          %li
            %a{:href => "menu.html"} Menu
          %li
            %a{:href => "contact.html"} Contact
    .home-content.wrapper
      %h2.page-title We'll Make Your Day
      %p おしゃれなカフェで癒されてみませんか？無添加の食材で体の中からリフレッシュ。
      %a.button{:href => "menu.html"} メニューを見る
    / /.home-content
  / /#home
