%body
  #menu.big-bg
    %header.page-header.wrapper
      %h1
        %a{:href => "index.html"}
          %img.logo{:alt => "WCBカフェホーム", :src => "images/icon1.png"}/
      %nav
        %ul.main-nav
          %li
            %a{:href => "news.html"} News
          %li
            %a{:href => "menu.html"} Menu
          %li
            %a{:href => "contact.html"} Contact
    .menu-content.wrapper
      %h2.page-title Menu
      %p
        体に優しい自然食を提供する、WCB CAFE。無添加の食材を利用したメニューが特徴です。
        美味しいブレンドコーヒーとヘルシーなオーガニックフードで体の内側から癒されてください。
  / /#menu
  .wrapper.grid
    .item
      %img{:art => "", :src => "images/image-1.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-2.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-3.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-4.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-10.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-6.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-7.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-8.jpg"}/
      %p 写真キャプション
    .item
      %img{:art => "", :src => "images/image-9.jpg"}/
      %p 写真キャプション
  / /.grid
  %footer
    .wrapper
      %p
        %small © 2019 Manabox
