%body
  #home.big-bg
    %header.page-header.wrapper
      %h1
        = link_to root_path do
          %img.logo{:alt => "WCBカフェホーム", :src => "/assets/icon.takulog3.png"}/
      -# %nav
      -#   %ul.main-nav
      -#     %li
      -#       %a{:href => "news.html"} News
      -#     %li
      -#       = link_to stores_index_path do
      -#         Menu
    .home-content.wrapper
      %h2.page-title Welcome to your record
      %p あなたによる、あなただけのグルメまとめ。信じるは自分の味覚のみ。
      %p 
        = link_to "ログイン", new_user_session_path, class: "user-btn"
        = link_to "新規登録", new_user_registration_path, class: "user-btn"

